:root {
    --primary: #FF9800;
    --secondary: #334195;
    --font: #090909;
    --bg: #FDFFFC;
    --caption: #63768D;
    --caption-light: #63768D20;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}

/* Global styles */
body {
    min-height: 100vh;
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    background-color: var(--bg);
    color: var(--font);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    overflow: hidden;
    padding: 128px 0px 0px;
    width: 100%;
    gap: 8px;
}

.caption{
    font-size: 14px;
}
.black{
    color: var(--font);
}
.grey{
    color: var(--caption);
}
.underline{
    text-decoration: underline;
}
.heading{
    font-size: 24px;
    font-family: "Bricolage Grotesque", system-ui;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin: 0px;
}

.primary{
    color: var(--primary);
}


h1, h2, h3, h4, h5, h6 {
    font-family: "Bricolage Grotesque", system-ui;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin: 0px;
}

.logo{
    font-size: 48px;
    font-family: "Bricolage Grotesque", system-ui;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin: 0px;
}

.icon{
    width: 32px;
    height: auto;
}

p{
    margin: 0px;
    padding: 0px;
}


a{
    text-decoration: none;
    font-size: 16px;
    color: var(--caption-color);
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4px 16px;
}

header{
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    background-color: var(--bg);
}

.links{
    display: flex;
    flex-direction: row;
    padding: 12px 16px;
    justify-content: space-between;
    border-bottom: solid 1px var(--caption);
    border-top: solid 1px var(--caption);
}

.selected{
    text-decoration: underline;
    color: var(--primary);
}

.heading{
    font-size: 24px;
    font-family: "Bricolage Grotesque", system-ui;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin: 0px;
}

.welcome{
    padding: 8px 16px 0px;
}

.action-button{
    display: flex;
    flex-direction: row;
    gap: 4px;
    padding: 4px 12px;
    align-items: center;
}

.action-button-small{
    display: flex;
    flex-direction: row;
    gap: 2px;
    padding: 0px 12px;
    align-items: center;
}

.action-button-small-no-m{
    display: flex;
    flex-direction: row;
    gap: 2px;
    padding: 0px;
    align-items: center;

}

.small-icon{
    width: 14px;
    height: 14px;
}

.button-text{
    color: var(--primary);
}

.big-icon{
    width: 20px;
    height: auto;
}

.upcoming-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0px;
}
.upcoming{
    display: flex;
    flex-direction: column;
    padding: 16px 8px;
    gap: 0px;
    border: solid 1px var(--caption);
}

.upcoming-wrapper{
    padding: 0px 16px 8px;
}

.selecter{
    display: flex;
    padding: 0px 16px;
    align-items: center;
    gap: 12px;
}

.post-top{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.post-details{
    display: flex;
    flex-direction: column;
}

.post-details-top{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.profile-photo{
    width: 48px;
    height: 48px;
    border-radius: 9999px;
    border: solid var(--primary) 2px;
}

.verification-badge{
    position: absolute;
    top: 30px;
    left: 40px;
}

.content{
    padding: 12px 0px;
    gap: 8px;
}

.post-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.comments{
    display: flex;
    gap: 4px;
}

.post{
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 4px;
    border-bottom: var(--caption-light) solid 1px;
}

.blog-heading{
    font-weight: 700;
}

.blog-image{
    width: 100%;
    height: auto;
}

footer{
    background-color: var(--primary);
    padding: 16px 16px 29px;
    display: flex;
    align-items: center;
    justify-content: center;
}